
.clickable{
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover{
  text-decoration: underline;;
}

#initially-hidden{
  display:none;
}

#initially-showing{
  display:block;
}
img{
  width:30%;
}

#panel-head{
  margin-top: 10px;
  padding:5px;
  text-align: center;
  background-color: black;
  color: white;
}
#panel{
padding:50px;
background-color: black;
color:white;
display: none;
}
